.mainFeed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.bkground {
  background-color: #571757;
}

img {
  max-height: 20%;
  margin-top: 1rem;
}