.feedContainer {
  padding-top: 2%;
  display: flex;
  overflow: hidden !important;
  /* ändrat från scroll till hidden */
}

.mainFeed {
  display: flex;
  flex-direction: row;
  animation: scroll 110s linear infinite;
  width: 200%;
  /* ökar bredden på mainFeed-elementet */
  margin: 0;
  /* tar bort marginalen mellan bilderna */
}

.mainFeed>div {
  margin-right: 5px;
  /* minskar marginalen mellan bilderna */
  margin-left: 5px;
  /* lägger till marginal till vänster om första bilden */
  flex: 1;
  /* gör att bilderna tar upp lika mycket plats i bredd */
}

.mainFeed:hover {
  animation-play-state: paused;

  /* pausar animationen när man hovrar över mainFeed */
}

img:hover {
  animation-play-state: paused;
  cursor: pointer;
  /* pausar animationen när man hovrar över mainFeed */
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

img {
  border: 3px solid black;
  border-radius: 20px;
  max-height: 90%;
  max-width: 20rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bkground {
  height: 45rem;
  width: 100%;
  background: url('./forest.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}