.mainFeed {
  /*  display: flex; */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.mainFeed>div {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  text-align: center;
}

.mainFeed>div img {
  max-width: 100%;
  max-height: 100%;
}

.animate {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}