.bkground {
  height: 47.75rem;
  width: 100%;
  background: url('./forest.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inforuta {
  background: linear-gradient(90deg, rgba(19, 28, 16, 0) 6%, rgba(82, 149, 85, 0.24) 28%, rgba(0, 0, 0, 0.66) 98%);
  width: 92%;
  height: 36rem;
  margin-top: 5rem;
  margin-left: 3rem;
  border-radius: 25px;
  border: 1px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.smalllogos {
  display: none;
}


.bubbles {
  position: absolute;
  width: 100%;
  height: 42.7rem;
  z-index: 0;
  overflow: hidden;
  top: 10%;
  left: 0;
}

.bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background: linear-gradient(90deg, rgba(19, 28, 16, 0.899) 10%, rgba(135, 162, 45, 0.572) 23%, rgba(0, 0, 0, 0.66) 100%);
  border-radius: 67%;
  opacity: 0.3;
  animation: rise 11s infinite ease-in;
}

.bubble:nth-child(1) {
  width: 50px;
  height: 70px;
  left: 10%;
  animation-duration: 8s;
}

.bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}

.bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 50%;
  animation-duration: 6s;
  animation-delay: 2s;
}

.bubble:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 50%;
  animation-duration: 11s;
  animation-delay: 0s;
}

.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
}

.bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 65%;
  animation-duration: 8s;
  animation-delay: 3s;
}

.bubble:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 2s;
}

.bubble:nth-child(8) {
  width: 25px;
  height: 25px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 2s;
}

.bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 5s;
  animation-delay: 1s;
}

.bubble:nth-child(10) {
  width: 90px;
  height: 90px;
  left: 25%;
  animation-duration: 10s;
  animation-delay: 4s;
}

@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }

  50% {
    transform: translate(100px);
  }

  100% {
    bottom: 1080px;
    transform: translateX(-200px);
  }
}


@media (min-width: 1600px) {

  .bkground {
    height: 59rem;
  }
}

@media (min-width: 0px) and (max-width: 375px) {

  .inforuta {
    width: 20rem;
    height: 27rem;
    margin-top: 1rem;
    margin-left: 1.9rem;
  }

  .bkground {
    width: 23.4rem;
    height: 667px;
    overflow: hidden;
  }

  .headerbackground {
    height: 3.5rem;
  }

  .bubbles {
    width: 100%;
    height: 89%;
    z-index: 0;
    overflow: hidden;
    top: 11%;
  }

  .biglogos {
    display: none;
  }

  .smalllogos {
    height: 25rem;
    width: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  /*   .linktext.home {
    display: none
  } */

}