/*     .mainFeed {
      width: 100%;
      border: 11px solid orange;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 8% 1fr;
    } */

.feedContainer {
  display: flex;
  overflow-x: scroll;
}

.mainFeed {
  display: flex;
  flex-direction: row;
}

.mainFeed>div {
  margin-right: 10px;
}