.headerbackground {
  padding: 4px;
  height: 8rem;
  background-color: #395639;
  opacity: 80%;
}

.links {
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
  margin: 0 auto;
}

a {
  color: rgb(215, 176, 33);
  font-style: normal;
  font-size: 2rem;
  text-decoration: none;
}