.headerbackground {
  padding: 4px;
  height: 8rem;
  background-color: #395639;
  opacity: 55%;
}

.links {
  display: flex;
  justify-content: center;

  width: 70%;
  display: flex;
  justify-content: space-between;
  padding-top: 4%;
  margin: 0 auto;
}

a {
  color: rgb(215, 176, 33);
  font-style: normal;
  font-size: 2rem;
  text-decoration: none;
  border: 1px solid;
  font-weight: 700;
  padding: 8px;
  background-color: #313c1b;
  border-radius: 15px;
}

@media (max-width: 375px) {

  header {
    width: 370px;
  }

  nav {
    margin-top: 9%;
    padding: 1%;
  }

  .links {
    margin-left: 0;
    padding-left: 1rem;
  }

  a {
    font-size: 1rem;
    padding: 15px;
  }


}

@media only screen and (max-width: 425px) and (min-width: 376px) {

  header {
    width: 370px;
  }

  nav {
    margin-top: 9%;
    padding: 1%;
  }

  .links {
    margin-left: 0;
    padding-left: 1rem;
  }

  a {
    font-size: 1.5rem;
    padding: 15px;
  }


}